body,
html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.app-header {
  background: url(https://i.ibb.co/dPSGfd3/white2.png);
  background-size: cover;
  box-shadow: -1px 4px 20px 0px #847878;
  padding: 5px;
  color: rgb(78, 75, 75);
  font-size: 20pt;
  height: 270px;
  background-position: center;

  /*----------------------------------------- Moblie Styles-----------------------------------------*/
  @media only screen and (max-width: 600px) {
    span {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  /*----------------------------------------- Tablet Styles -----------------------------------------*/
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    span {
      margin-left: auto;
      padding: 10px;
      cursor: pointer;
    }
  }

  /*----------------------------------------- Desktop Styles -----------------------------------------*/
  @media only screen and (min-width: 961px) {
    span {
      margin-left: auto;
      padding: 10px;
      cursor: pointer;
    }
  }
}

.app-input {
  outline: none;
  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  padding: 5px 8px;
  color: #666;
  width: 200px;
  margin: 10px;
}

/*----------------------------------------- Moblie Styles-----------------------------------------*/
@media only screen and (max-width: 600px) {
}

/*----------------------------------------- Tablet Styles -----------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 960px) {
}

/*----------------------------------------- Desktop Styles -----------------------------------------*/
@media only screen and (min-width: 961px) {
}
