.gallery-root {
  // width: 100%;
  text-align: center;
  padding-top: 5px;

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .image-root {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1180px) {
    .image-root {
      -ms-flex: 25%;
      flex: 25%;
      max-width: 25%;
    }
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .image-root {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .image-root {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
